service-kitchen/.phpunit.cache
service-kitchen/node_modules
service-kitchen/public/build
service-kitchen/public/hot
service-kitchen/public/storage
service-kitchen/storage/*.key
service-kitchen/vendor
service-kitchen/.env
service-kitchen/.env.backup
service-kitchen/.env.production
service-kitchen/.phpactor.json
service-kitchen/.phpunit.result.cache
service-kitchen/Homestead.json
service-kitchen/Homestead.yaml
service-kitchen/auth.json
service-kitchen/npm-debug.log
service-kitchen/yarn-error.log
service-kitchen/.fleet
service-kitchen/.idea
service-kitchen/.vscode
